body{
    background-color: #ccd5ae;
}

/* Nav */
header{
    margin: 0px;
}

.grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #faedcd !important;
}

.h1 {
    position: relative;
    left: 0pc;
}

h1 {
    padding: 10px;
    margin: 10px;
    color: #d4a373;
    text-shadow: -1px 1px 4px #faedcd;
}

#navList{
    border: 2px solid #fefae0;
}

.navList{
    color: #d4a373 !important;
    border-bottom: 2px solid #d4a373;
    margin: 3px;
    justify-content: space-between;
    font-size: 22px;
    font-weight: bold;
    text-shadow: 1px 1px 4px #fefae0;
}

.h1, .navList{
    display: flex;
    justify-content: space-between;
}

.navLists{
    position: absolute;
    right: 0%;
}

/* Hero section */

.hero{
    border: 2px solid #fefae0;
    padding: 10px !important;
    margin: 2%;
    border-radius: 30px;
}

.heroRow{
    justify-content: space-around;
    align-items: center;
    margin: 0px;
    height: 250px;
}

.heroItems{
    margin: 0px;
    text-align: center;
    color: #d4a373;
}

.jumbotron{
    background-color: #faedcd;
}

/* photo */
.image{
    margin: 10px;
    border: 2px solid #fefae0;
    border-radius: 100%;
    box-shadow: -3px 3px #fefae0;
    max-height: 250px;
    width: auto;
    object-fit: fill;
    overflow-y: scroll;
}

/* intro/desc */


/* body section */

/* \=-0    `.≤r: 2px solid #fefae0;
    min-width: 100%;
    padding: 0px;
} */

.about-me, .work, .skills{
    margin-bottom: 20px;
    background-color: #faedcd;
    text-align: right;
    padding: 10px;
    border-radius: 30px;
}

.infoSubtitles{
    border-right: 2px solid black;
    font-size: 30px;
    color: #d4a373 !important;
}

.infoAM, .info{
    margin: 0px;
    text-align: center;
}


.works{
    border: 2px solid #ccd5ae;
}

.jakes{
    background-image: url(../images/JakesEastery.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

.shop{
    background-image: url(../images/Furniture\ site.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

.cali{
    background-image: url(../images/hotel\ cali.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

.tag{
    background-color: rgba(233,237,201,0.5);
    color: #d4a373;
    background-size: 20px;
    text-shadow: -1px 1px white;
}

/* skills section */
.skills{
    border-right: 2px solid black;
    color: #d4a373 !important;
    background-color: #faedcd;
    border-radius: 30px;
    height: 300px;
}



/* -- Footer section, hover effect hyperlinks, buttons w box shadow upon hover. */

.social {
    align-content: center;
    justify-content: center;
    display: flex;
}

.card-footer {
    padding: .75rem 15.0rem;
}

button {
    margin: 10px;
}